
#game{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#game span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    margin: 15px 15px;
    background-color: aqua;
    font-size: 120px;
    color: white;
}

#moves{
    font-size: 25px;
    color: aqua;
}